<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="PushNotificationService.PushNotificationServiceBehavior"
        name="PushNotificationService.PushNotificationService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding"
          contract="PushNotificationService.IPushNotificationService" />
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
          <behavior name="PushNotificationService.PushNotificationServiceBehavior">
            <serviceMetadata httpGetEnabled="false" />
            <serviceDebug includeExceptionDetailInFaults="True" />
          </behavior>
        <behavior name="MyServiceTypeBehaviors" >
          <!-- Add the following element to your service behavior configuration. -->
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        </serviceBehaviors>
        <endpointBehaviors>
          <behavior name="web">
            <webHttp/>
          </behavior>
        </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
    <system.net>
        <defaultProxy enabled="true" >
            <proxy  usesystemdefault="True"  bypassonlocal="True" proxyaddress="http://proxyinfor:8080/"/>
        </defaultProxy>
    </system.net>
  
</configuration>
